notes.txt
credentials.json
ind.txt
sm.txt

src/aacc/lambda/settings.json
src/aacc/lambda/node_modules
src/aacc/lambda/quickstart.js

src/console/node_modules

src/settings/settings.json
src/settings/node_modules

src/terraform/.terraform/