notes.txt
credentials.json
ind.txt
sm.txt

src/aacc/lambda/settings.json
src/aacc/lambda/node_modules
src/aacc/aacc-lambda.zip

src/console/node_modules
src/console/quickstart.js

src/settings/settings.json
src/settings/node_modules/

.DS_Store
src/.DS_Store