notes.txt
credentials.json

src/aacc/settings.json
src/aacc/node_modules
src/aacc/aacc-lambda.zip

src/console/node_modules
src/console/quickstart.js

src/utils/node_modules/

src/testing
src/nodejs
src/nodejs-layer.zip

.DS_Store
src/.DS_Store